<!--
The extend statement tells this file inherit the general html elements from the the base.html file
-->  
{% extends "base.html" %}  
{% block content %}  
	<title> Data Visualization </title>
	<head></head>
   <form action="{{url_for('upload')}}" id="userInput" method="POST" enctype="multipart/form-data">
	<p><label>Title:</label><br>
	<input type="text"	id"title" required placeholder="userTitle" value=''autofocus> </p>
	<!-- <br><br> -->
	<p><label>Subject A</label>
	<input type="text" id="subjectA" required placeholder="subjectOne"></p>
	<p><label>Subject B</label>
	<input type="text" id="subjectB" required placeholder="subjectTwo"></p>
	<!-- <br><br> -->
	<p><label>Neutral Color</label> <!-- wherever fold change is less that 4 -->
	<input type="color" id="nColor" placeholder="colorN"></p>
	<!-- <br><br> -->
	<p><label>Color for Subject A</label>
	<input type="color" id="aColor" placeholder="colorA"></p>
	<!-- <br> -->
	<p><label>Color for Subject B</label>
	<input type="color" id="bColor" placeholder="colorB"></p>
	<!-- <br><br> -->
	<!-- RADIO BUTTON GROUP-ADD -->
	<p>
	<radiogroup>
	<label>Please select the type of figure</label>
	<br>
	<!-- 
<radio id="simple" label="Simple Circle Packing"/>
	<radio id="zoomable" label="Zoomable Circle Packing" selected="true"/>
 -->
	<input type="radio" name="imageType" value="simple" >Circle Packing<br>
	<input type="radio" name="imageType" value="zoomable" >Zoomable Circle Packing

	</radiogroup>
	</p>
<!-- 
	</form>
	
	<form name="uploadForm" method="POST">
 -->
 	<br><br>
	<p> <label>Upload Required File (json format)</label></p>
	<p>
	<input id="uploadInput" type="file"  name="myFiles"  > 
	
	</p>
	<!--	BUttons of the input -->

	<input type="submit" value="Submit">
	<input type="reset" value="Reset">
	
	</form> 
 	<script>
 	function OpenNewPage(){
 		var outputWindow=window.open("", "", "width=400, height=400");
 		
 	}
	</script>
	<hr>

{% endblock %}
