<!--
The extend statement tells this file inherit the general html elements from the the base.html file
-->  
{% extends "base.html" %}  
{% block content %}  
	<title> Data Visualization </title>
	<head></head>
   <form action="http://webapp-kumarlab.rhcloud.com/zoomable.html" id="userInput" method="POST">
	Title:
	<input type="text"	id="title" required placeholder="userTitle" value=''autofocus> 
	<br><br>
	Subject A
	<input type="text" id="subjectA" required placeholder="subjectOne">
	Subject B
	<input type="text" id="subjectB" required placeholder="subjectTwo">
	<br><br>
	Level Zero Color
	<input type="color" id="pfColor" placeholder="colorL1">
	
	Neutral Color <!-- wherever fold change is less that 4 -->
	<input type="color" id="nColor" placeholder="colorN">
	<br><br>
	Color for Subject A
	<input type="color" id="aColor" placeholder="colorA">
	
	Color for Subject B
	<input type="color" id="bColor" placeholder="colorB">
	<br><br>
	
	<p> Upload Required File (json format)</p>
	<form name="uploadForm">
	<p>
	<input id="uploadInput" type="file"  name="myFiles"  > 
	
	</p>
	<!--	BUttons of the input -->

	<button onclick="OpenNewPage()">Submit</button>
	<input type="reset" value="Reset">
	
	</form> 
 	<script>
 	function OpenNewPage(){
 		outputWindow=window.open("", "outputWindow", "width=400, height=400");
 	}
	</script>
	<hr>

{% endblock %}
