
<!DOCTYPE html>
<meta charset="utf-8">
<head><title>{{title}}</title></head>
<style>

circle {
  fill: {{fillColor}};
  fill-opacity: .25;
  stroke: {{fillColor}};
  stroke-width: 1px;
}

.leafS circle {
  fill: {{colorA}};
  fill-opacity: 1;
}

.leafNS circle {
  fill: {{colorB}};
  fill-opacity: 1;
}

.leafNeutral circle {
  fill: {{neutralColor}};
  fill-opacity: 1;
}

text {
  font: 10px sans-serif;
}

</style>
<body>
    <h2 style='text-align: center;'>{{title}}</h2>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var diameter = 1200,//960,
    format = d3.format(",d");

var pack = d3.layout.pack()
    .size([diameter - 4, diameter - 4])
    .value(function(d) { 
               d.type = '{{subA}}';
               if (Math.round(Math.abs(d.size)) <=  2)
                   d.type = 'neutral';
               else if (d.size < -2)
                   d.type = '{{subB}}';
               return Math.abs(d.size); 
           });

var svg = d3.select("body").append("svg")
    .attr("width", diameter)
    .attr("height", diameter)
  .append("g")
    .attr("transform", "translate(2,2)");

//d3.json("partial.json", function(error, root) {
d3.json("{{reqFile}}", function(error, root) {
  var node = svg.datum(root).selectAll(".node")
      .data(pack.nodes)
    .enter().append("g")
      .attr("class", function(d) { 
                         if (d.children) 
                             return "node";
                         if (d.type === '{{subA}}')
                             return "leafS node";
                         if (d.type === '{{subB}}')
                             return "leafNS node";
                         if (d.type === 'neutral')
                             return "leafNeutral node"; 
                     })
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

  node.append("title")
      .text(function(d) { return d.name + (d.children ? "" : ": " + format(d.size)); });

  node.append("circle")
      .attr("r", function(d) { return d.r; });

  node.filter(function(d) { return !d.children; }).append("text")
      .attr("dy", ".3em")
      .style("text-anchor", "middle")
      .text(function(d) { return d.name.substring(0, d.r / 3); });
});

d3.select(self.frameElement).style("height", diameter + "px");

</script>
